* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF9C4;
}

.calculator-box {
  width: 35%;
  height: 90vh;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border: 2px solid #2196F3;
  border-radius: 15px;
  background-color: #BBDEFB;
  position: relative;
}

.calculator-border {
  height: 98%;
  width: 98%;
  border: 1.5px solid #2196F3;
  border-radius: 13px;
  position: absolute;
  top: 1%;
  left: 1%;
  background-color: #E3F2FD;
}

.results {
  width: 90%;
  margin: 5% auto 0 auto;
  height: 18%;
  border: 2px solid #2196F3;
  border-radius: 13px;
  background-color: #FDF1FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  /*border: 1px solid green;*/
  width: 92%;
  height: 90%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 90%;
  max-width: 92%;
  font-size: 550%;
  font-family: 'VT323', monospace;
  color: #2E7D32;
}

.buttons {
  width: 90%;
  margin: 5% auto;
  height: 71%;
  border: 2px solid #2196F3;
  border-radius: 13px;
  background-color: #BBDEFB;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 150%;
}

.items {
  width: 100%;
  display: grid;
}

.math {
  height: 20%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.sign,
.digit {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px #B0BEC5;
  cursor: pointer;
}

.sign {
  background-color: #B61971;
}

.digit {
  background-color: #1971B6;
}

.sign:active,
.digit:active {
  cursor: pointer;
  color: white;
  box-shadow: 0 3px 0 #546E7A;
}

.numbers {
  height: 80%;
  padding: 10px 10px 15px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}
